name: CodeQL Scan

on:
  push:
    branches:
      - codeql-test  # Change this to the default branch of your repository
  pull_request:
    branches:
      - codeql-test  # Change this to the default branch of your repository

jobs:
  codeql:
    name: CodeQL Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup CodeQL
        uses: github/codeql-action/setup@v2
        with:
          languages: javascript,python
          # You can specify additional language variants if needed
          # GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Build CodeQL database
        uses: github/codeql-action/init@v2

      - name: Analyze code
        uses: github/codeql-action/analyze@v2
        with:
          queries: ./.github/workflows/queries.ql  # Specify the path to your queries.ql file

      - name: Upload SARIF results
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: codeql-database/results.sarif
